extends layout

block content		
	.content
		h2 Hi there.
		p This is a simple Nodejs + Express + MongoDB app that implements the popular 'testimonials' section you see on all the websites these days.  Users can write up a testimonial and it gets put in the database.  The website administrator can use the 'admin' page to choose which testimonials get displayed.
		hr
		h2 To use:
		ul
			li First, you must have Node.js and the Express.js framework installed.
			li Get the source from <a href="https://github.com/jkasala/testimonials">Github</a>
			li Install <a href="http://www.mongodb.org/">MongoDB</a>
			li Open a command shell cd to the directory where you downloaded the app.  Run <b>npm install</b> to get the app dependencies.
			li Create a new directory in the app folder called 'data'.  Open another command shell in this directory, and run <b>path/to/mongodb/bin/mongod --dbpath data</b>
			li Run <b>npm start</b> and you should be able to access the app in the browser at http://localhost:3000


