doctype html
html
head
	title='Testimonial'
	link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css')
	link(rel='stylesheet', href='/stylesheets/stylesheet.css')
	script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js")
	script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js")
body
	.nav-container
		nav(class="navbar navbar-default main-nav")
			.navbar-header
				a(class="navbar-brand" href="/") Home
				a(class="navbar-brand" href="/testimonials") Testimonials
				a(class="navbar-brand" href="/testimonials/admin") Admin
	block content
	


