extends layout

block content		
	.content
		#quotes
			for item in items
				p(class="quote" style="display: none")= item.text

		#newTestimonial
			h3 Write a testimonial
			form(name="newTestimonial", action="testimonials/add", method="post")
				input(type="text", name="user", placeholder="Your Name")
				br
				textarea(name="text", rows="8", cols="60", placeholder="Enter your testimonial here")
				input(type="hidden", name="approved", value="0")
				br
				input(type="submit", value="add")
