body {
  min-height: 100%;
  width: 100%;
  font-size: 14pt; 
}

.nav-container {
  background-color: #f2f2f2; 
}

.main-nav {
  max-width: 960px;
  margin: 0 auto;
  border: 0px;
  background-color: transparent; 
}

 .navbar-brand {
	font-size:16pt;
 }

.content {
  padding: 15px 15px 0px 15px;
  margin: 0 auto 40px auto;
  max-width: 960px; 
}

.header {
  background-color: transparent; 
}

.quote {
  background: url('/images/quotes.png') top left no-repeat; 
  padding-left:35px;
}

.quote-text {
  min-height:21px;
}

.quote-author {
  padding-top:5px;
  color:rgb(112,150,190);
}

#form-user {
  margin-bottom:10px;
}

#admin-testimonials {
  width:100%;
}

#admin-testimonials table {
  width:100%;
  min-width:800px;
  table-layout: fixed;
}

#admin-testimonials table  tr {
  border-top:2px solid white;
  border-bottom:2px solid white;
}

#admin-testimonials table td, table th {
  padding: 5px 15px 5px 15px;
}

#admin-testimonials table td {
  word-wrap:break-word
}